.rain-btn {
  cursor: pointer;
  z-index: 1000;
  transform: scaleX(0.9);

  transition: 0.2s;
  opacity: $main-opacity;
  width: 2vw;
  min-width: 20px;

  left: 20px;
  bottom: 20px;

  span {
    width: 200px;
  }

  &:hover {
    opacity: 1;
  }

  &:active {
    opacity: 0.6;
  }
}
